body {
margin-left: 200px;
margin-right:200px;
}

img {
width: 25em;
}

button {
  font-size: 20px;
}

pre {
    font-size:18px;
    font-family: Arial;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

@media only screen and (max-width: 768px) {
  body {
    margin-left:10px;
    margin-right:10px;
  }
}
